body {
    background-color: #222022;
    text-align: center;
    color: #ffffff;
    min-width: 30em;
}

li {
    padding-bottom: 0.25em;
}

li:hover {
    color: #8a8a8a;
}

li label,
li input {
    background-color: #222022;
    color: #ffffff;
    width: 50%;
    line-height: 1.5em;
    word-wrap: break-word;
    display: inline-block;
}

.ol-input {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-ol {
    margin-top: 5%;
}

.main-ol ol li::before {
    content: attr(data-id)". ";
    display: inline;
}

.main-ol ol {
    text-align: left;
    width: 50%;
    margin: auto;
    word-wrap: break-word;
    list-style: none;
}

.btn-sm {
    float: right;
    font-size: xx-small;
    margin-right: 0.5em;
}

.hide {
    display: none;
}

.form-check {
    width: 50%;
    margin: auto;
}